@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Error.</h2>
<h3 class="text-danger">An error occurred while processing your request.</h3>

@if (Model != null)
{
    <div>
        Server responded "@Enum.GetName(Model.StatusCode)".
        @if (Model.Message != null)
        {
            <h5>Some additional information:</h5>
            <div>@Model.Message</div>
        }
    </div>
}

@if (Model?.UrlReferrer != null)
{
    <a href=@Model.UrlReferrer>
        <button>Go back</button>
    </a>
}
else
{
    <button onclick="history.go(-1)">Go back</button>
}