@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Restaurant Aggregator Admin Panel</h2>
    <div class="card p-2">
        <div>
            <a class="text-decoration-underline" asp-area="" asp-controller="SignIn" asp-action="Index">Sign in</a> first to perform admin actions
        </div>
    </div>
</div>